@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Register new cars</h2>
        <ul>
            <li><a asp-controller="Register" asp-action="RegisterNew">Register</a></li>
        </ul>
    </div>
</div>
